<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 1</li>
            </div>
        </div>
        <div class="col-md-9">

            <div class="card mb-5">
                <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
                <div class="card-body">
                    <h5 class="card-title float-right">$9.00/night</h5>
                    <h5><a href="#">
                            <%= campground.name %></a></h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                    <footer class="blockquote-footer">Submitted by <cite title="Source Title">
                            <%= campground.author.username %></cite></footer>
                    <!-- Check if user is logged in AND the user is the author of the campground -->
                    <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning mt-3 text-white btn-sm" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="d-inline ml-3">
                            <button type="submit" class="btn btn-danger mt-3 text-white btn-sm">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>

            <div class="card bg-light mb-5">
                <div class="card-body">
                    <div class="text-right">
                        <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">AddNewComment</a>
                    </div>
                    <hr>
                    <% campground.comments.forEach(comment => { %>
                        <div class="row">
                            <div class="col-md-12 mb-5">
                                <strong><%= comment.author.username %></strong>
                                <span class="float-right">10 days ago</span>
                                <p><%= comment.text %></p>
                                <% if (comment && currentUser && comment.author.id.equals(currentUser._id)) { %>
                                    <a  class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                    <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" class="d-inline ml-3">
                                        <button class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                <% } %>
                                <hr>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>